body {
    background-color: rgb(222, 238, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*? MAIN PAGE */

.main-title {
    text-align: center;
    font-size: 50px;
    color:  rgb(215, 56, 8);
    text-decoration-line: underline;
    text-decoration-color: rgb(222, 153, 153);

}

.cover-pic {
    display: block;
    margin: auto;
    height: 350px;
    width: 450px;
    border-radius: 100%;
}

/** Get rid of ul bullet points */
.recipes-lst.bullets {
    list-style-type: none;
}

.recipes-lst {
    text-align: center;
    font-size: 25px;
}

